<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="P" connectionString="mongodb://admin:admin@ds257858.mlab.com:57858/sampledb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MongoDbName" value="sampledb" />
    <add key="BulkInsertRecordsCount" value="250" />

    <add key="fileInPath" value="C:\temp\claims\In\" />
    <add key="fileFailedPath" value="C:\temp\claims\Failed\" />
    <add key="fileArchivePath" value="C:\temp\claims\Archive\" />
    <add key="IsFailedFileReprocess" value="5"/>
    <add key="MailHost" value="smtp.gmail.com" />
    <add key="MailPort" value="587" />
    <add key="From" value="noreplyP@gmail.com" />
    <add key="To" value="noreplyP@gmail.com" />
    <add key ="Password" value ="Welcome2ggk"/>
    <add key="Google_Map_Api_Url" value ="https://maps.googleapis.com/maps/api/geocode/json?address="/>
    <add key="Google_Map_Api_Key" value ="AIzaSyAaZZgcsfyNSNZ7zTVICKeSd9bd6ZZd6Fc9XicVICK"/>
  </appSettings>
</configuration>