<h2><img src="../../../dist/assets/images/img2.png" width="73%" height="50%" /></h2>
<div class="container-fluid text-confirmation">
    <div class="row">
        <h2 class="notice">Notice:</h2>
        <div class="btn-toolbar-text btn-toolbar">
            <p class="label-text">
                The healthcare providers in your network are listed using the most current information available.  The list may change from time to time.  Listing the healthcare provider on this site is not a guarantee that the healthcare provider remains in the network at the time that services are received. You should verify with your healthcare provider at the time of service that it remains in the network.
            </p>
            <button type="button" class="btn btn-success btn-responsive btn-md col-lg-1 col-md-2 col-sm-3 col-xs-3 btn-text" (click)="legalSubmit()">
                <span class="glyphicon glyphicon-ok"></span> Ok
            </button>
        </div>
    </div>
</div>

