<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd:Mongo"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>  
    <add assembly="NLog.Mongo.Core"/>
  </extensions>
  <targets>
    <target xsi:type="Mongo"
        name="Mongo"
        connectionString="mongodb://admin:admin@ds257858.mlab.com:57858/sampledb"
        databaseName="sampledb"
        collectionName="Logger"
        cappedCollectionSize="26214400">
      <field name="Date" layout="${longdate}"  />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ThreadName" layout="${threadname}" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
      <field name="UserName" layout="${windows-identity}" />
    </target>
  </targets>
  <rules>
    <logger levels="Error,Debug"  name="*" writeTo="Mongo"/>
  </rules>
</nlog>
